/* COLORS */

.instru {
    color:#f28518 !important;
}

.potencia {
    color:#6fc8c9 !important;
}

.flexible {
    color:#c0509c !important;
}

.pirometria {
    color:#f21818 !important;
}

.datos {
    color:#bfa03b !important;
}

.comando {
    color:#1c43ad !important;
}

.bombas {
    color:#ba7975 !important;
}

.soldadura {
    color:#81a367 !important;
}

.catodica {
    color:#83096f !important;
}

.white {
    color: #fff;
}